<%= content_for(:title, "create new" )%>

<h1>hello </h1>
<!-- 	<% if flash[:errors] %>
		<% flash[:errors].each do |e| %>
			<%= e %>
		<% end %>
	<% end %> -->
<%= render partial: "players/form"%>

<!-- 
<%= form_for(@players) do |f|%>

<p>
	<%=f.label :first_name %><br>
	<%= f.text_field :first_name %><br>
</p>
<p>
	<%=f.label :last_name %><br>
	<%= f.text_field :last_name %><br>
</p>
<p>
	<%=f.submit%>
</p>
<%end%> -->
<!-- 
<form action="/players" method="post">
	 <input type="hidden" name="_method" value="patch">
	<input type="hidden" name="authenticity_token" value="<%form_authenticity_token%>">
	<p>
		<label>
			first name 
		</label>
		<input type="text" name="player[first_name]">
	</p>
	<p>
		<label>
			last name 
		</label>
		<input type="text" name="player[last_name]">
	</p>
	<input type="submit" value="Create">
</form> -->